
@tailwind base;

@layer base {
  :root {
    --background: 225 14% 10%;
    --foreground: 0 0% 98%;

    --card: 225 14% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 225 14% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 225 70% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 14% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 225 14% 16%;
    --muted-foreground: 225 5% 65%;

    --accent: 225 30% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 14% 18%;
    --input: 225 14% 18%;
    --ring: 225 70% 60%;

    --radius: 0.5rem;

    --sidebar-background: 225 14% 13%;
    --sidebar-foreground: 225 5% 80%;
    --sidebar-primary: 225 70% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 30% 20%;
    --sidebar-accent-foreground: 225 5% 90%;
    --sidebar-border: 225 14% 18%;
    --sidebar-ring: 225 70% 60%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom, #151926, #13151f, #101219);
  }
}
